:root {
  --font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
  --font-family-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;

  --font-body-sm: 400 12px/18px var(--font-family-sans);
  --font-body-sm-semibold: 600 12px/18px var(--font-family-sans);
  --font-body-md: 400 14px/20px var(--font-family-sans);
  --font-body-md-semibold: 600 14px/20px var(--font-family-sans);
  --font-heading-md: 600 16px/24px var(--font-family-sans);
  --font-heading-lg: 600 24px/32px var(--font-family-sans);
  --font-display: 600 32px/40px var(--font-family-sans);
  --font-mono-sm: 400 12px/18px var(--font-family-mono);
}
